@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

body {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #000;
  font-size: 5vw;
  line-height: 3.75vw;
  letter-spacing: -0.3vw;
}

p {
  margin-bottom: 10px;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  text-decoration: none;
}

.half-div {
  width: 50%;
  height: 100%;
  min-height: 100vh;
  background-color: #000;
}

.half-div.img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.half-div.img:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: red;
}

.collection-list-wrapper {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.intro {
  position: absolute;
  z-index: 99;
  display: none;
  width: 100vw;
  min-height: 100vh;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: red;
}

.image {
  max-height: 100vh;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.image:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.image.image-02 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 50%;
  height: 100%;
}

.image-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 50%;
  height: 100vh;
}

.back {
  margin-bottom: 5vw;
}

.book-front {
  background-image: url('../images/book-cover.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.book-back {
  background-color: #111;
}

.book-bottom {
  background-image: url('../images/book-top.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.book-top {
  background-image: url('../images/book-top.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.book-side-left {
  background-color: red;
}

.book-side-right {
  background-image: url('../images/book-side.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.book-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 50%;
  height: 100vh;
}